/* Events.css */
.register-button a{
  text-decoration: none;
  color:#fff;
}
.event{
  color:#fff;
}
.event-container{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  flex-wrap: wrap;
  margin:auto 50px;

}
.event-topic{
  text-align: center;
  background:linear-gradient(270deg, #d1e2ff,#c4dae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:4em;
  padding-top:40px;
  padding-bottom: 20px;

}
.event-card {
    width: 400px;
    background: linear-gradient(45deg,rgba(49, 49, 255, 0.5),rgb(142,218,248,0.5));
    border-radius: 8px;
    overflow-y: visible;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 40px;
    margin-right: 30px;
    font-weight: lighter;
    padding:0.5em;
    max-height: 50em;
    display: flex;
    flex-direction: column;
  }

  .event-card:hover {
    transform: scale(1.1);
  }

  .event-card li{
    padding: 5px;
  }
  .event-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  .event-details {
    flex-grow: 1; 
    padding: 15px;
    display: flex;
    flex-direction: column; 
    
  }

  .event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-description {
    font-size: 15px;
    font-weight: bolder;
    list-style-type: disc;
    padding-left: 20px;
  }
  .event-description li::marker{
    font-size: 1.5em;
    color:#000;
  }

  .register-button {
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    margin-top: 1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right: auto;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .register-button:hover {
    background: var(--gradient);
    color: black;
  }
  .register-button:hover a{
    color: black;
  }
  .event-card:hover{
    box-shadow: 0px 0px 40px rgb(0, 145, 255);
    border:1px solid aqua;
  }
  @media screen and (max-width: 768px) {
    .event-card {
      margin:0px;
      margin-bottom: 40px;
    }
    .event-description li{
      line-height:90%;
    }
    .event-topic{
      font-size: 2.5em;
      padding: 1.5em 0em;
      cursor: pointer;
    }
  }