.coordinators{
    margin: 0%;
}
.faculty{
  background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em 1em;
    text-align: center;
}
.faculty section{
    padding: 2em 4em;
    border: 0.5em groove rgba(0, 115, 255, 0.685);
    width: 20em;
    margin: 1em;
    line-height: 1.5em;
}
.faculty h1{
    margin:0;
    padding: 1em;
}
.student{
    display: grid;
    box-sizing: border-box;
    gap: 2em;
    padding: 2em;
    background:var(--gradient2);
    padding-top: 5em;
    border-radius: 5em;
    align-items: center;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0;
}
.student-member{
  display: flex;
  height: 15em;
  align-items: center;
  box-sizing: margin-box;
  justify-content: center;
  max-width: 30em;
}
.student-details{
  padding: 1em 1.5em;
  margin: 5em 0em;
  width: 0%;
  overflow: hidden;
  text-align: end;
  transition: all 1s;
  
  border-top-right-radius:  5em;
  border-bottom-right-radius:  5em;
}
.faculty h1 ,.student-header{
  text-align: center;
  margin: 1em 0em;
  font-size: 1.5em;
}
.student-member img{
  width: 12em;
  transition: all 1s;
  border-radius: 2em;
  border: 0.1em solid white;
  position: absolute;
  height: 12em;
}
.student-member:hover img{
  height: 8em;
  width: 8em;
  border-radius: 50%;
  left: 3em;
  border: 0.2em solid rgb(0, 166, 166);
}
.student-member:hover .student-details{
  width: 100%;
  display: block;
  background:linear-gradient(270deg,rgba(0, 255, 255, 0.5),rgba(12, 12, 236, 0.541),rgba(0, 119, 255, 0.482));
}
@media screen and  (min-width:787px) {
  .student{
    grid-template-columns: 1fr 1fr;
  }
  .student-member{
    overflow: visible;
  }
  .student-member img{
    position: relative;
  }
  .student-details{
    background-color: rgba(177, 18, 18, 0.712);
    display: none;
  }
}