/* Default styles */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title {
  color: aqua;
  text-align: center;
  font-size: 3.5em;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 70%;
    height: 300px;
  }
}
